<!DOCTYPE html>
<html>
<head>
	<title>Detect Age-Gender</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body style="text-align: center;">
	<h1>Prediction</h1>

	<div class="container">
		<img src="{{ url_for('static', filename = img_src) }}" height="300" width="300"}}></img><br>
		<label>Age: </label>
		<label>{{ age }}</label> <br>
		<label>Gender: </label>
		<label>{{ gender }}</label>
	</div>

</body>
</html>